<div class="employee-card-container">
    <mat-card>
        <mat-card-title>
          <div class="employee-card-title">
            <button mat-icon-button (click)="toggleAllowInput()" color="primary">
                <mat-icon *ngIf="!allowInput">save</mat-icon>
                <mat-icon *ngIf="allowInput">edit</mat-icon>
            </button>

              <button mat-icon-button (click)="removeEmployee(myEmployee)" color="primary">
                <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="employee-information-container">
              <app-employee-review [allowInput]="allowInput" [myEmployee]="myEmployee"></app-employee-review>
          </div>
        </mat-card-content>
      </mat-card>
</div>

